h1 {
    font-size: 4em; color: green; text-align: center ;font-family: 'Open Sans', Comic Sans MS;
}

h3 {
    font-size: 1em; color: red; text-align: center;
}

h4 {
    font-size: 1em; color: black; text-align: center;
}
h2 {
  font-size: 1em; color: green(44, 93, 230); text-align: center;
}
form {
    font-size: 2em; color: rgb(23, 0, 128); text-align: center;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

button
{
    background-color: rgb(255, 255, 255); color:grey;
}

  html {
    background-color: #00aeff;
  }

  input[type="text"]
  {
      font-size:24px;
  }

  .myButton{
    background:url(home.png) no-repeat;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
}

.myButton:active 
{   
    background:url(home2.jpg) no-repeat;
}

input[type="image"]
{
  padding: 30px 850px 10px 20px;
}